@use '../variables/variables' as *;

.Forecast {
  margin-top: 2rem;
  @include no-text-select;
  .forecast-container{
    overflow-x: auto;
    h3{
      margin-bottom: 30px;
    }
  }

  .widget-container {
    display: flex;
    gap: 1rem;
    // overflow-x: auto; 
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    
    scrollbar-width: none; 
    -ms-overflow-style: none; 

    &::-webkit-scrollbar {
      display: none; 
    }

    .widget {
      position: relative;
      cursor: pointer;
      
      display: flex;
      flex-direction: column;
      align-items: center;
      
      padding: 0.75rem;
      margin-right: 0.75rem;
      
      min-width: 115px;
      
      border: 1px solid var(--secondary-text-color);
      border-radius: 1rem;

      .day {
        position: absolute;
        top: -1.5rem;
      }
      .icon-temp {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0.75rem 0;
        img {
          width: 40px;
          margin-right: 0.25rem;
        }
      }
      .wind {
        margin-top: 0.25rem;
        display: flex;
        .speed {
          margin-right: 0.25rem;
        }
        .wind-dir {
          font-size: 0.8rem;
          margin-left: 0.25rem;
        }
      }
    }
  }
}
